{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "comments": false,
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    [
      "transform-runtime"
    ]
  ]
}